.pagination {
    display: flex;
    list-style: none;
  }

  .pagination li + li {
      margin-left: 0.5rem;
  }

  .paginationActive {
      background: red;
      font-weight: bold;
      border-radius: 0.5rem;
      border:none;
      color: #fff;
  }

  .button {
      border-radius: 0.5rem;
      border:none;
  }
